@font-face {
    font-family: morph;
    src: url(morpheus.ttf);
}

body
{
    background-image: url("img/bg.png");
	background-color: #f9f9f9;
    background-repeat: repeat;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size: 18px;
	color: #111111;
}

li
{
	margin-bottom: 5px;
}

pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 0px;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}

h1
{
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 25px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
}

#toc_container
{
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    display: table;
    font-size: 22px;
	font-weight: bold;
    width: auto;
}

#toc_container li, #toc_container ul, #toc_container ul li
{
    list-style: outside none none !important;
}

.download
{
	margin-top: 30px;
}

.download a
{
	font-size: 22px;
	font-weight: bold;
}

.download p a
{
	font-size: 18px;
	font-weight: normal;
	text-decoration: underline;
	color: blue;
}

.download img
{
	margin-bottom: -8px;
	margin-right: 10px;
}

section
{
	background-color: rgba(255, 255, 255, 0.85);
	resize: both;
	padding: 10px;
	margin: 10px;
	border: 4px solid rgba(0, 0, 0, 0.05);
}

article
{
	margin: 15px;
}

section h1
{
	color: black;
	font-size: 15px;
	margin: 5px;
	font-family: morph;
}

article h1
{
	font-weight: bold;
	color: black;
	font-size: 33px;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

section.header
{
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

#article_wallpapers
{
	width: 75%;
	margin: 0 auto;
	text-align: center;
}

#article_screenshots
{
	width: 75%;
	margin: 0 auto;
	margin-bottom: 75px;
	text-align: center;
}

section.header h1
{
	height: auto;
	font-family: morph; font-size:75px;
	font-weight: bold;
	color: #6b6b6b;
}

#section_description a
{
	color: red;
	font-weight: bold;
}

#section_requirements article h1
{
	font-size: 22px;
	height: auto;
}

#article_software_requirements
{
	margin-top: 20px;
	margin-bottom: 40px;
}

#article_hardware_requirements p
{
	margin-left: 15px;
}

#article_software_requirements p
{
	margin-left: 15px;
}

#article_download_windows p
{
	margin-top: 0px;
	margin-bottom: 5px;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
	color: black;
}

.article_requirement
{
	padding: 15px;
	margin: 0px;
}

.article_requirement h2
{
	margin-left: 25px;
	margin-bottom: 0px;
	margin: 0px;
}

.article_requirement p a
{
	font-size: 18px;
	font-weight: normal;
	text-decoration: underline;
	color: blue;
}

.article_requirement h1
{
	color: #FF8C00;
	margin-left: 0px;
}

.article_requirement p
{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
}

.tab
{
	margin-left: 40px;
	margin-top: 0px;
}